*.class
.project
.classpath
**/.antlr
src/**/*.jar
**/classes
**/*.iml
.idea/
.vscode/
**/.DS_Store
.metals
out/
.DS_Store
*.dot
*.log
.scala-build
.bsp
.chat
**/target/*
**/output/*
**/logs/*
machinet.conf
**/.settings/*
.factorypath
.project
.classpath
.checkstyle
.checkstyle_suppressions.xml
.jdtls-workspace
mcp.json