.def main: args=0, locals=0
; print f(10,20)
    iconst 12   ; push first param
    iconst 20   ; push second param
    call f()
    print
    halt

; f(x,y) { int z = x + y; return z; }
.def f: args=2, locals=1     
    load 0      
    load 1
    iadd        ; pop two params and add them 
    store 2     ; z = t
;   return z
    load 2
    ret
