.def dec1: args=1 ,locals=1
    load 0
    iconst 1
    isub
    br L2
L2:
    ret
.def main: args=0 ,locals=1
    iconst 10
    store 0
    br L5
L5:
    load 0
    iconst 0
    igt
    brf L7
L6:
    load 0
    iconst 5
    igt
    brf L9
L8:
    load 0
    print
    load 0
    iconst 7
    ieq
    brf L9
L10:
    iconst 7
    br L4
L9:
    sconst "break"
    print
    load 0
    call dec1()
    store 0
    br L5
L7:
    iconst 0
    br L4
L4:
    halt
